$navHeight: 150px;

.toggle-nav { 
	@include transform( translateZ(0) );
	outline: none;
	display:none;
	color: #fff;
	position: fixed;
	background: rgba(255,255,255,0.8);
	top: 10px; left: 10px;
	z-index: 10;
	height: 42px;
	padding: 10px 10px 10px 40px;
	font-weight: 600;
	@include transition( $smallNavDuration all $smallNavEasing 0s );
	text-transform: uppercase;
	
	@media screen and (max-width: $collapseNavAt) {
		font-size:0;
		padding-left: 30px;
	}
		
	.show-nav &,
	&:hover {
		background: $primaryColor;
		color:#fff;
		span { 
			&,
			&:before,
			&:after { border-top-color: #fff; }
			
		}
	}

	.show-nav & {
		background: $secondaryColor;
		span { border-top-color: transparent !important;}
	}	
	
	
	span {
		width: 20px; height: 10px;
		left:10px;
		margin-top: -1px;
		position: absolute;
		top: 50%;
		border-top:  2px solid $primaryColor;
		
		&,
		&:before,
		&:after {
			@include transition( all 0.2s $ease-in-out-sine 0s );
		}
		
		.show-nav & { left: 16px;}
		
		&:before,
		&:after {
			content:"";
			position: absolute;
			top: -9px; 
			left:0; right:0;
			border-top: 2px solid $primaryColor;
			@include transform-origin( top left );
			.show-nav & {
				left: -3px;
				@include transform( rotate3d(0,0,1,45deg) );
			}
			
		}
		
		&:after { 
			top: auto; bottom:1px;
			@include transform-origin( bottom left );
			.show-nav & { 
				bottom:-1px;
				@include transform( rotate3d(0,0,1,-45deg) ); 
			}
		}
		
	}
	
}

.nav-wrap {
	@include transform( translate3d(0,0,0) );
	position: fixed;
	top:0; left:0; right:0;
	background: #fff;
	z-index: 10;
	height: $navHeight;
}

.nav-top {
	position: absolute;
	top:10px; right:0;
	@include display( flex );
	@include align-items( center );

	.social { margin-right: 2px; }

	.links {
		@include display( flex );
		margin-right: 4px;

		a {
			color: #8f8f8f;
			text-transform: uppercase;
			font-size: 14px;
			padding: 8px;
			display:block;
			line-height: 1;
			position:relative;


			&:hover {
				background: $primaryColor;
				color: #fff;
				border-radius: 4px;
			}

			&:before {
				position: absolute;
				left:0; top: 6px; bottom: 6px;
				content:"";
				border-right: 1px solid #8f8f8f;
			}

			&:hover:before,
			&:hover+a:before,
			&:first-child:before {
				display: none;
			}
		}

	}

	.toggle-search {
		@include t-fa-abs();
		width: 30px; height: 30px;
		background: $primaryColor;
		border-radius: 4px;
		color: #fff;
		margin-right: 4px;
		&:before { content: $fa-var-search; }
		&:hover { background: $secondaryColor; }
	}

	.toggle-chat {
		@include t-fa();
		background: $secondaryColor;
		padding: 8px;
		line-height: 1;
		font-size: 14px;
		text-transform: uppercase;
		border-radius: 4px;
		color: #fff;
		&:before { 
			content: $fa-var-comment; 
			margin-right: 8px;
		}
		&:hover { background: $primaryColor;}
	}

}

nav {
	@include justify-content( space-around );	
	padding: 60px 0 20px;

	&,
	ul { @include display( flex ); }

	ul {
		@include flex( 1 1 auto );
		@include align-items( center );
		@include justify-content( space-between );
		padding: 0 30px 0 0;
		border-right: 1px solid #8f8f8f;

		&+ul { 
			padding: 0 0 0 40px; 
			border: none;
		}
	}

	a {
		color: #252525;
		display: block;
		text-align:center;
		margin: 0 10px;
		text-transform: uppercase;
		border-radius: 6px;

		&:not(.logo) {
			line-height: 1;
			padding: 12px 14px;

			&.highlight,
			&:hover {
				background: $primaryColor;
				color: #fff;
			}

			&.highlight:hover {
				background: $secondaryColor;
			}
		}

	}
}

@media screen and (min-width: $collapseNavAt) {
	.nav-wrap {
		@include transition( $smallNavDuration all $smallNavEasing );	
	}


	.small-nav {
		.nav-wrap {
			@include transform( translate3d(0,-50px,0) );
			box-shadow: 0 4px 4px rgba(0,0,0,0.1);
		}
	}
}


/* collapsed nav */
$collapseNavWidth: 280px;

header,
.page-wrapper { 
	@include transition( 0.4s transform $ease-in-out-sine !important );
	.show-nav & {
		@include transform( translate3d($collapseNavWidth,0,0) );
	}
}

.mobile-nav-bg { display: none; }
.show-search,
.show-nav { height: 100vh; overflow: hidden;}
@media screen and (max-width: $collapseNavAt) {

	.page-wrapper { box-shadow: 0 0 12px rgba(0,0,0,0.4); }

	.toggle-nav { display: block; }

	.nav-wrap { 
		z-index: inherit;
		background: #fff;
		z-index: inherit;
		position: fixed;
		right: auto; bottom:0;
		height: 100vh;
		overflow-y: auto;
		width: $collapseNavWidth;
	}

	.nav { max-width: 100%; }

	nav {
		&,
		ul {
			display:block;
		}

		ul {
			margin:10px 0 !important;
			padding:0 !important;
		}

		a {
			margin:0;
			text-align:center;
			border-radius:0;
			color: $primaryColor;
		}


	}

	.nav-top {
		position: static;
		display:block;
		text-align:center;
		padding: 20px 0;
		background: $primaryColor;

		.toggle-search {
			position: absolute;
			top: 10px; right: 10px;
			margin:0;
			border-radius:0;
			width: 42px; height: 42px;
			font-size: 24px;
		}

		.links {
			display:block;
			margin:0;
			text-align:left;

			a { 
				border-radius:0 !important;
				color: #fff;
				&:hover {
					background: $secondaryColor;
				}
			}
		}

		.social {
			padding: 10px 0;
			@include justify-content( center );

			a {
				background: #fff;
				color: $primaryColor;
				&:hover {
					color: #fff;
					background: $secondaryColor;
				}
			}
		}
	}

	.mobile-nav-bg { 
		background: rgba(0,0,0,0.4); 
		position: fixed; 
		top:0; left:0; right:0; bottom:0; 
		height: 10000px;
		@include transform( translateZ(0) );
		z-index: -1; 
		display: block; 
		visibility: hidden; 
		opacity:0; 
		cursor: pointer;
		@include transition( all 0.4s $ease-in-out-sine );
		
		.show-nav & {
			opacity:1; 
			visibility: visible; 
			z-index: 21; 
			cursor: pointer;
		}
		
	}	

}