$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	padding-bottom: 10px;
	border-top: 1px solid darken($footerBackgroundColor,10);
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
	
	.social a:after {
		@include transition-duration( 0.4s );
		@include transition-timing-function( $ease-out-back );
	}
}


/* copyright */
.copyright { 
	border-top: 1px solid darken($footerBackgroundColor,10);
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 14px; 
	cursor: default; 
	margin-top: 50px;
	text-transform: uppercase;
	
	.sw {
		padding: 20px 0;
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		@include display( flex );
		@include flex-flow( row wrap );
		padding: 12px 0;
	}
	
	li {
		&:first-child { 
			margin-right: 8px; 
		}

		&+li {
			padding: 0 8px;
			border-left: 1px solid $copyrightSeparatorColor;
		}
	}
	
}

#jac { 
	width: 186px; 
	height: 25px; 
	background-size: cover;
}

@media screen and (max-width: 800px) {
	.copyright {
		ul,li {
			display:block;
		}

		li {
			border: none !important;
			padding: 4px 0 !important;

		}
	}
}

.footer-blocks {
	@include display( flex );
	margin: 30px 0;
}

.footer-block {
	border-left: 1px solid #000;
	text-align:center;
	@include flex( 1 1 33.3333% );
	padding: 5px 40px;
	font-size: 18px;
	display: block;


	&:first-child {
		text-align:left;
		border: none;
		padding-left:0;
	}

	&:last-child { padding-right:0; }

	.single-form {
		margin: 15px auto 0;
		border-radius: $buttonBorderRadius;
		width: 300px;
		background-color: $lightColor;
		border: none;

		input {
			font-size: 14px;
			padding: 11px;
			color: $primaryColor;
			border-right: 1px solid $primaryColor;
		}

		button {
			color: $primaryColor;
			&:hover {
				background-color: $primaryColor;
				color: $lightColor;
			}
		}

		@include placeholder {
			color: $primaryColor;
			text-transform: uppercase;
		}		
	}
}

.footer-nav {
	@include align-self( stretch );
	a {
		display: block;
		text-transform: uppercase;
		border-radius: $buttonBorderRadius;
		padding: 6px;
		margin: 3px 0;
		&:hover {
			background: $primaryColor;
			color: $lightColor;
		}
	}
}

.footer-contact {
	background: rgba(0,0,0,0.3);
	color: #fff;
	padding: 15px;
	margin: 20px 0;
	border-radius: 8px;

	@include display( flex );
	@include align-items( center );

	address {
		@include flex( 0 0 auto );
		padding-right: 20px;
	}

	&>span {
		display: block;
		padding: 5px 10px;
		margin: 5px 0;
		border-left: 1px solid #000;
		text-align:center;
		@include flex( 1 1 auto );

		span { white-space:nowrap; }

	}

}

@media screen and (max-width: 900px) {
	.footer-blocks { 
		margin:0;
		display: block; 
	}

	.footer-block {
		padding: 20px !important;
		border: solid rgba(0,0,0,0.2);
		border-width: 1px 0 0;

		.single-form {
			margin: 15px auto;
		}
	}

	.footer-nav { text-align: center; }

	.footer-contact {
		display: block;
		text-align: center;
		padding:0;

		address { padding:15px; }

		&>span {
			padding: 15px;
			border: none;
			&:nth-child(even) {
				background: rgba(255,255,255,0.05);
			}
		}
	}
}


