.primary-bg { background: $primaryColor; }
.primary { color: $primaryColor; }
.secondary-bg { background: $secondaryColor; }
.secondary { color: $secondaryColor; }
.light-bg { background: $lightColor; }
.white-bg { background: #fff; }


/* modules */
@import "site/box_grid";
@import "site/gallery_grid";
@import "site/order_block";
@import "site/section_nav";
@import "site/search_form";

p.excerpt {
	max-width: 750px;
	margin: 0 auto;
	text-align:center;
}

/* sidebar */
.sidebar {}

.sidebar-mod {
	margin: 0 0 20px;
}

.contact-mod {
	padding: 20px;
	border-radius: $buttonBorderRadius;
}

.mod-title {
	font-size: 24px;
	display: block;
	margin: 0 0 30px;

	& + .mod-subtitle {
		margin-top: -30px;
	}
}

.mod-subtitle {
	font-size: 16px;
	display: block;
	margin: 0 0 30px;
}

.share-mod,
.archives-mod {
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.archives-mod {
	.mod-title {
		color: #fff;
		text-transform: uppercase;
		background: $secondaryColor;
		padding: 15px;
		margin:0 0 1px;
		font-size: 18px;
	}

	.count {
		display:inline-block;
		line-height:1;
		padding: 6px;
		border-radius: 50%;
		border: 1px solid $secondaryColor;
		margin-right: 8px;
	}

	.acc-item-handle:hover .count,
	.expanded>.acc-item-handle>.count {
		background: #fff;
		color: $secondaryColor;
		border: 1px solid #fff;
	}

	.acc-item + .acc-item .acc-item-handle {
		border-top: 1px solid $secondaryColor;
	}

	.acc-item.expanded + .acc-item .acc-item-handle {
		border-color: transparent;
	}

	.acc-item-handle {
		padding: 8px 44px 8px 10px;
		font-size: 16px;
		margin:0;
	}

	.acc-item-content {

		.count {
			padding: 4px 7px;
			margin-right: 4px;
		}

		ul { 
			padding:3px 0 0; 
		}

		li {
			& + li {
				border-top: 1px solid darken($mediumColor,10);
			}
		}

		a {
			padding: 10px 12px;
			display: block;
			background: $mediumColor;

			&:hover {
				.count {
					background: #fff;
					color: $primaryColor;
					border-color: $primaryColor;
				}
			}
		}
	}
}

.share-mod {
	padding: 20px;
	.social {
		@include align-items( center );
	}

	span {
		display: block;
		padding-right: 5px;
	}
}

/* contact page */
.mod-contact-us {

	.selector {
		width: 100%;
		padding: 5px;
		&:before {
			right: 10px;
		}
	}

	.address-phones {
		@include display( flex );
		@include justify-content( space-between );
		@include flex-flow( row wrap );
		margin: 0 0 20px;
	}

	.phones {
		text-align:right;
	}
}

/* newsletter */
.interest {
	display: block;
	position: relative;
	overflow: hidden;
	input {
		position: absolute;
		top: -99px; left: -99px;
		opacity:0;
	}

	span {
		@include t-fa-abs();
		text-indent:0;
		display: block;
		padding: 4px 4px 4px 40px;
		margin: 2px 0;
		border: 3px dashed transparent;
		border-radius: 6px;
		

		&:before { 
			content: $fa-var-circle-o; 
			right: auto;
			left:8px;
			color: $secondaryColor;
		}
	}

	span:hover { border-color: $secondaryColor; }
	input:focus+span { border-color: rgba($secondaryColor,0.4); }


	input:checked+span { 
		background: $secondaryColor;
		color: #fff;
		&:before { 
			content: $fa-var-check-circle;
			color: #fff;
		}
	}
}

/* filter section overrides */
.filter-controls {
	button { border-radius: 4px; }
}

.filter-bar {
	.count { text-transform: none; }
}

/* blocks overrides */
.blocks {
	.img-wrap {
		margin: -15px -15px 15px;
	}

	.hgroup+time {
		margin: -15px 0 10px;
		color: $primaryColor;
		display: block;
	}

	&:not(.list-view) .block {
		&.with-button { padding-bottom: 80px; }
	}

}

/* article */
.article-head {
	@include display( flex );
	@include align-items( center );
	@include flex-flow( row wrap );
	border-bottom: 1px solid $mediumColor;
	margin: 0 0 20px;
	padding-bottom: 10px;
	font-size: 16px;

	.meta {
		padding: 5px 10px 5px 0;
		margin-right: 10px;
		border-right: 1px solid $mediumColor;
		color: $primaryColor;
		display: block;

		&:last-child {
			border:none;
			margin:0;
			padding-right:0;
		}

		img {
			display: inline-block;
			vertical-align: middle;
			border-radius: 50%;
			margin-right: 5px;
		}

	}

	@media screen and (max-width: 800px) {

		& { display: block; text-align:center;}

		.meta {
			display: block;
			border: none;
			padding: 5px;
			margin:0;
		}
	}

	a:hover {
		color: $secondaryColor;
	}

	.category,
	time {
		@include t-fa();
		&:before { 
			content: $fa-var-calendar; 
			color: $secondaryColor;
			margin-right: 5px;
			font-size: 20px;
		}
	}

	.category:before {
		content: $fa-var-folder;
	}

}

/* help module */
.help-mod {
	@include display( flex );
	@include align-items( center );
	border-radius: $buttonBorderRadius;
	padding: 0 20px;
	margin-top: 40px;

	&>div {
		@include flex( 1 1 0 );
		padding: 40px 20px;
	}

	.single-form {
		border-radius: 4px;
		position: relative;
		overflow: visible;
		padding-left: 18px;


		button {
			overflow: visible !important;
			color: darken($mediumColor,10);
			&:after {
				content:"";
				top: 8px; bottom: 8px; left: -10px;
				position: absolute;
				border-left: 1px solid $mediumColor;
			}
		}

		input { 
			font-size: 16px; 
			padding: 16px;
			margin-right: 10px;
		}

		.count {
			position: absolute;
			z-index: 1;
			display: inline-block;
			top: 50%; left: 0;
			@include transform( translate3d(-50%,-50%,0) );
			border: 2px solid #fff;
			color: #fff;
			background: $secondaryColor;
			border-radius: 50%;
			line-height: 1;
			font-size: 18px;
			padding: 10px;
		}
	}

	@media screen and (max-width: 900px) {
		display: block;
		&>div { padding: 20px; }
	}
}

.help-mod-title {
	display: block;
	font-size: 24px;
	margin: 0 0 10px;
}

/* faqs */
.faq-mod {

	.acc-item { border-radius: 4px; overflow: hidden; }

	.acc-item-handle {
		background: $primaryColor;
		color: #fff;
		&:before { color: #fff !important; }
	}

	.acc-item-content p {
		padding: 10px;
	}

}

/* my account */
.my-account-mod {

	padding: 20px 0 0;
	margin: 20px 0;


	& + .my-account-mod {
		border-top: 1px solid $lightColor;
	}

}

.my-account-bar {
	padding: 15px;
	border-radius: $buttonBorderRadius;
	@include display( flex );
	@include flex-flow( row wrap );
	@include justify-content( space-between );
	@include align-items( center );
	text-align:right;

	a {
		color: #fff;
		display: inline-block;
		padding: 6px 8px;
		border-radius: $buttonBorderRadius;
		&:before { margin-right: 4px; }
		&:hover { background: $primaryColor; }
	}

	.name {
		text-align:left;
		display: inline-block;
		font-weight: 600;
		font-style: italic;
	}

}

.my-account-contact {
	@include display( flex );
	@include flex-flow( row wrap );
	address { margin: 0 30px 20px 0; }
}

.my-account-order-table {
	width: 100%;
	text-align:center;

	th {
		background: $primaryColor;
		color: #fff;
		font-weight: normal;
		text-transform: uppercase;
	}

	th,td { padding: 8px;}

	tr:nth-child(odd) td { background: $mediumColor; }

	@media screen and (max-width: 850px) {
		&,
		tbody,
		tr,
		td { display: block; }
		thead { display: none;}

		td {
			&:before {
				content: attr(data-field);
				font-size: 12px;
				margin-right: 5px;
			}
		}


		tr { 
			position:relative;
			border: 3px solid $primaryColor;
			background: $primaryColor;
			color: #fff;
			border-radius: $buttonBorderRadius;
			margin-bottom: 10px;
			overflow:hidden;
			text-align:left;
			td { 
				background:transparent !important; 
				&:first-child {
					position: absolute;
					top: 0px; right: 10px;
					text-align: right;
					font-size: 12px;
				}
			}
		}
	}
}