/**
 Theme
 
 This framework has been developed based on the similarities
 between most JAC templates. It may not work well for templates
 that wildliy depart from the usual design, but it will no doubt still contain
 useful components. 
 
 Have Fun!
 
*/

/* Theme Specific Colors that we can use below */
$primaryColor: #00a1de;
$secondaryColor: #f24f28;
$lightColor: #f6f6f6;
$mediumColor: #ededed;
$darkColor: #333c40;

/* grid */
$gridCollapseLarge: 1600px;
$gridCollapseMedium: 1200px;
$gridCollapseSmall: 750px;
$gridCollapseExtraSmall: 550px;

$gridClassMapping: (
	'lg': #{$gridCollapseLarge},
	'md': #{$gridCollapseMedium},
	'sm': #{$gridCollapseSmall},
	'xs': #{$gridCollapseExtraSmall}
);

/* fonts */
$serifFontStack: georgia,garamond,serif;
$sansSerifFontStack: helvetica,arial,sans-serif;

@mixin declare-font-face($font-family, $font-filename, $path, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: $font-family;
		src: url('#{$path}#{$font-filename}.eot'); /* IE9 & compatibility modes */
		src: url('#{$path}#{$font-filename}.eot?#iefix') format('eot'), /* IE6-8 */
		url('#{$path}#{$font-filename}.woff2') format('woff2'), /* Blink */
		url('#{$path}#{$font-filename}.woff') format('woff'), /* Firefox, Opera */
		url('#{$path}#{$font-filename}.ttf') format('opentype'), /* Chrome */
		url('#{$path}#{$font-filename}.svg##{$font-filename}') format('svg'); /* Safari */
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

$defaultFontStack: Open Sans,$serifFontStack;

/* a better placeholder mixin */
@mixin placeholder {
  ::-webkit-input-placeholder {
  	font-family: $defaultFontStack,-webkit-placeholder; 
  	@content
  }
  :-moz-placeholder {
  	font-family: $defaultFontStack,-moz-placeholder; 
  	@content
  }
  ::-moz-placeholder{
  	font-family: $defaultFontStack,--moz-placeholder; 
  	@content
  }
  :-ms-input-placeholder{
  	font-family: $defaultFontStack,-ms-placeholder; 
  	@content
  }  
  ::placeholder {
  	font-family: $defaultFontStack,-placeholder; 
  	@content;
  }
}

/* body */
$pageBackgroundColor: #fff;
$darkBackgroundColor: $primaryColor;
$darkBackgroundContentColor: $lightColor;
$sectionSeparatorColor: $primaryColor;
$darkSectionSeparatorColor: $lightColor;
$separatorColor: $sectionSeparatorColor;

$bodyContentColor: #222;
$bodyBackgroundColor: darken($primaryColor,10);

$wrapperWidth: 1200px;
$collapseNavAt: 800px;
$pageWrapperWidth: 1920px;

/* footer */
$footerBackgroundColor: $darkColor;
$footerContentColor: $lightColor;
$footerLinkColor: $lightColor;
$footerHoverColor: $primaryColor;

$copyrightBackgroundColor: transparent;
$copyrightContentColor: $lightColor;
$copyrightLinkColor: $lightColor;
$copyrightHoverColor: $primaryColor;
$copyrightSeparatorColor: $lightColor;

/* headings */
$darkBackgroundHeadingColor: $darkBackgroundContentColor;
$headingFontStack: $defaultFontStack;
$headingColor: $primaryColor;

$h1Size: 28px;
$h2Size: 24px;
$h3Size: 20px;
$h4Size: 18px;
$h5Size: 16px;
$h6Size: 14px;

/* for more fine-grained control of heading styles */
@mixin header-theme() { 
	color: $secondaryColor;
	text-transform: uppercase;
	font-weight:600;
}
@mixin h1-theme() { }
@mixin h2-theme() { }
@mixin h3-theme() { }
@mixin h4-theme() { }
@mixin h5-theme() { }
@mixin h6-theme() { }

/* buttons */
/* Use these mixins to define button color, background color, etc */
$buttonBorderRadius: 4px;
@mixin button() {
	color: #fff;
	border-radius: $buttonBorderRadius;
	background-color: $primaryColor;
	border: 2px solid $primaryColor;
	@include transition( 0.2s all $ease-in-out-sine );

	&.white,
	.dark-bg &,
	.d-bg & {
		border-color: #fff;
		color: $darkBackgroundColor;
		background-color: #fff;
	}
	
}

@mixin buttonHover() {
	color: #fff;
	background-color: $secondaryColor;
	border-color: $secondaryColor;
	
	&.white,
	.dark-bg &,
	.d-bg & {
		background-color: transparent;
		border-color: #fff;
	}

	footer &.white {
		background-color: $primaryColor;
		border-color: $primaryColor;
		color: #fff;
	}
}

/* article styles */
$sidebarWidth: 380px;
$sidebarCollapseWidth: 900px;

@mixin link-theme() {
	color: lighten($primaryColor,10);
	font-weight:600;
	display: inline-block;
	word-break: keep-all;
	position: relative;
	padding: 2px 4px;
	border-bottom: 1px solid $primaryColor;
	
	
	.d-bg &,
	.dark-bg & { 
		color: #fff; 
		border-color: #fff;
	}
	
	&,
	&:after {
		@include transition( 0.15s all $ease-in-out-sine );
	}
	
	&:after {
		content:"";
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		background-color: $primaryColor;
		
		@include transform-origin( center bottom );
		@include transform( scale(1,0) );
		z-index: -1;
		
		.d-bg &,
		.dark-bg & {
			background-color: #fff;
		}
		
	}
	
}

@mixin link-hover-theme() {
	color: #fff !important;
	
	.d-bg &,
	.dark-bg & { color: $primaryColor !important; }
	
	&:after { @include transform( none ); }	
}

@mixin link-visited-theme() {
	color: $secondaryColor;
	border-color: $secondaryColor;
	&:after {
		background-color: $secondaryColor;
	}
	
	.d-bg &,
	.dark-bg & { color: #fff; }
	
}

@mixin link-active-theme() {
	text-decoration: none;
	color: #fff !important;
	
	&:after { 
		background-color: $secondaryColor;
		@include transform( none ); 
	}
	
}

/* excerpts */
$excerptColor: $bodyContentColor;

/* lists */
$listNumberColor: $primaryColor;

/* breadcrumbs */
$breadCrumbColor: #fff;
$breadCrumbColorActive: #fff;
$breadCrumbColorHover: #fff;

/* forms */
$fieldBackgroundColor: $mediumColor;
$fieldTextColor: $darkColor;
$fieldPlaceHolderColor: $darkColor;
$fieldBorderColor: darken($mediumColor,10);
$fieldFocusedBackgroundColor: $lightColor;
$fieldSpacing: 10px;
$fieldPadding: 14px;
@mixin field-placeholder() {
	text-transform:uppercase;
}

/* accordion */
$accHandleBorderWidth: 1px;
$accHandleBorderColor: transparent;
$accHandleColor: $secondaryColor;
$accHandleColorActive: #fff;

$accHandleBGColor: #fff;
$accHandleBGColorActive: $secondaryColor;

$accContentBorderWidth: 1px;
$accContentBorderColor: transparent;
$accContentBGColor: $lightColor;

$accContentLinkColor: $secondaryColor;
$accContentLinkBGColor: $mediumColor;

$accContentLinkActiveColor: #fff;
$accContentLinkActiveBGColor: $primaryColor;

/* selector */
$selectorColor: #fff;
$selectorColorActive: #fff;
$selectorBackgroundColor: $primaryColor;
$selectorBackgroundColorActive: darken($primaryColor,10);

/* filter section */
$filterBarBackgroundColor: transparent;
$filterBarContentColor: $secondaryColor;

$filterControlBackgroundColor: $primaryColor;
$filterControlBackgroundColorActive: $secondaryColor;
$filterControlColor: #fff;
$filterControlColorActive: #fff;