.box-tabs {
	
	margin-bottom: 20px;

	.tab-controls {
		@include display( flex );
		.selector { display: none; }
	}

	.tab-control {
		@include flex( 1 1 auto );
		background: $secondaryColor;
		cursor: pointer;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 20px;
		text-align:center;
		padding: 4px 14px;

		span {
			display: block;
			font-size:14px;

			&:after {
				@include fa-icon();
				margin: 5px 0;
				display: block;
				font-size:22px;
				content: $fa-var-plus-circle;
			}
		}

		img {
			vertical-align: middle;
		}

		&:hover,
		&.selected {
			background-color: $primaryColor;
		}
	}

	@media screen and (max-width: 900px) {
		.tab-controls .selector { 
			display: block; 
			width: 100%;
			padding: 10px;
			&:before {
				right: 20px;
				font-size: 24px;
			}
		}
		.tab-control { display: none; }
	}
}

.box-grid {

	.box-tabs & { margin-bottom:-20px !important; }

	.col { 
		width: 33.3333%; 
		@media screen and (max-width: 900px) { width: 50%; }
		@media screen and (max-width: 650px) { 
			width: 100%; 
			display: block;
			padding-bottom:1px;
			&:last-child {
				margin-bottom: 20px;
			}
			.box-img-wrap { display: none;}
			.box-content {
				@include display( flex );
				@include flex-flow( row wrap );
				@include justify-content( space-between );
				@include align-items( center );
			}
			.hgroup { margin:0; }
			.hgroup-title { font-size: 18px;}
		}
	}
	
}

.box {
	background: #fff;
	@include justify-content( space-between );
	@include display( flex !important );
	@include flex-flow( column nowrap );	
}

a.box:not(.dark-bg):hover {
	background: #fcfcfc;
}

.box-img-wrap {
	position: relative;
	@include flex( 0 0 180px );
	margin-bottom: 20px;

	.lazybg {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
	}
}

.box-info {
	background: $primaryColor;
	padding: 20px;
	display: block !important;


	.box-content {
		padding:0;

		p {
			font-size: 24px;
			margin: 0 0 20px;
		}

		span {
			font-size: 18px;
			display:block;
		}
	}

	.button {
		margin-top: 10px;
	}
}

.box-content {
	padding: 20px;
}