.order-block {
	display: table;
	table-layout: fixed;
	&>div {
		position: relative;
		display: table-cell;
		width: 32.5%;
		padding: 40px;
	}
}

.order-block-content {
	width: 35% !important;

	&:after {
		content:"";
		position: absolute;
		border: solid transparent;
		width:0; height:0;
		top: 50px; right: -28px;
		border-width: 20px 14px;
		border-left-color: $primaryColor;
		z-index: 9;
	}

	p {
		font-size: 16px;
	}
}

.order-block-form {
	background: rgba(0,0,0,0.1);

	p {
		font-size: 18px;
		margin: 0 0 15px;
	}

	.body-form {
		input {
			border-radius: $buttonBorderRadius;
			font-size: 16px;
			padding: 10px;
			background: #fff;
		}
	}
}

.order-block-title {
	display: block;
	margin: 0 0 20px;
	font-size: 24px;
}

@media screen and (max-width: 900px) {
	.order-block { 
		display: block; 
		&>div {
			display: block; 
			width: auto !important;
		}
	}

	.order-block-img { display: none !important;}
	.order-block-content:after {
		top: auto;
		left:0; right:0; margin: 0 auto;
		bottom: -28px;
		border-color: transparent;
		border-width: 14px 20px;
		border-top-color: $primaryColor;
	}
}